body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-repeat:no-repeat;
    background-image: url("images/top-banner.png");
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightSalmon, tomato);
    background-color: orange;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-repeat:no-repeat;
    background-image: url("images/dream-bg.png");
    background-position: right;
}
.single-experience{
    box-shadow:10px 10px 40px dimgray;
    border-radius: 5px;
    height: 80%;
    background-color: gainsboro;
}
.experince-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#font-end{
    border-left: 5px solid;
    border-image: linear-gradient(180deg,lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, blue, rgb(3, 41, 17)5, 40, 21));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 10px;
    color: gainsboro;

}
